.countryContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.noCountry {
    transition: transform .5s;
    width: 20vw;
    height: 10vh;
    border-radius: 5px;
    background: transparent;
    font-size: xx-large;
    border: 2px rgba(128, 128, 128, 0.767) solid;
}

.img {
    width: 100%;
    border-radius: 5px;
}

.div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height: 310px;
    border: 2px solid gray;
    border-radius: 5px;
    margin: 1rem;
    padding: 0.5rem;
    box-sizing: border-box;
    background-color: rgba(143, 182, 169, 0.733);
    text-decoration: none;
    border-bottom: none;
}

.divContenedor {
    display: flex;
    justify-content: center;
}